<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @shoe.sku %>
</p>

<p>
  <strong>Size:</strong>
  <%= @shoe.size %>
</p>



<p>
  <strong>Price:</strong>
  <%= @shoe.price %>
</p>







<%# link_to 'Edit', edit_shoes_path(@shoe) %>
<%= link_to 'Back', shoes_path %>
